body {
    margin: 0px;
    font-family: helvetica;

}

a {
    color: black;
}

.sektioner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bilder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 30px;
}

#lemon {
    background-color: #fafa80;
}

#apple {
    background-color: #f76060;
}

#kiwi {
    background-color: #4e964e;
}

#strawberry {
    background-color: #f54242;
}